body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}
#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}
#title {
    text-align: center;
    text-shadow: 5px 5px  10px black;
    font-size: 3em;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#img-div {
   background: white;
   padding: 10px;
   margin: 0;
}
#img-caption {
    margin: 15px 0 5px 0;
}
#tribute-info {
    background-color: rgba(0,0,0,0.2);
    padding: 0 0 0 20px;
}
#headline {
    margin: 50px 0;
    text-align: clear;
}
ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}


li {
    margin: 16px 0;
}
blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}
